@use '../utils/variables.scss' as *;

.header {
  box-sizing: border-box;
  font-weight: 500;
  background-color: $header-bg-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $header-padding-vert 50px;

  box-shadow: $header-shadow;

  &__logo {
    display: block;
    height: $header-logo-height;
    width: $header-logo-width;
    margin: $header-logo-margin;
  }

  &__logo-image {
    display: block;
    object-fit: cover;
    max-width: 100%;
    height: $header-logo-height;
    width: $header-logo-width;
  }
}
