$main-text-color: #060b35;
$main-bg-color: #fff;
$secondary-title-text-color: #616070;
$button-hover-color: #00acdc;
$button-bg-color: #00acdc;
$card-padding-inline: 16px;
$card-width: 200px;
$header-bg-color: #fff;
$nav-height: 60px;
$nav-text-color: #060b35;
$nav-selected-color: #00acdc;
$nav-font-size: 12px;
$main-padding-bottom: 40px;
$card-header-padding-bottom: 40px;
$card-padding-bottom: 16px;
$card-rating-padding-top: 16px;
$card-btn-padding-top: 16px;
$card-price-value-fz: 16px;
$card-buy-line-height: 16px;
$card-border-radius: 5px;
$card-buy-border-radius: 5px;
$card-title-fz: 12px;
$card-price-title-fz: 12px;
$card-buy-padding-vert: 12px;
$card-title-lh: 18px;
$card-reviews-fz: 10px;
$card-code-fz: 10px;
$card-code-lh: 14px;
$card-buy-fz: 14px;
$card-thin-fw: 400;
$card-bold-fw: 700;
$header-padding-vert: 0;
$header-logo-margin: 0;
$header-logo-height: 40px;
$header-logo-width: 40px;
$stars-height: 16px;
$stars-width: 16px;
$header-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
