$main-text-color: #060b35;
$main-bg-color: #fff;
$secondary-title-text-color: #616070;
$button-hover-color: #00acdc;
$button-bg-color: #00acdc;
$card-padding-inline: 16px;
$card-width: 200px;
$header-bg-color: #fff;
$nav-height: 60px;
$nav-text-color: #060b35;
$nav-selected-color: #00acdc;
$nav-font-size: 12px;
